<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Documento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
                <td th:text="${cliente.fechaNacimiento}"></td>
                <td th:text="${cliente.numeroDocumento}"></td>
                <td>
                    <a th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/clientes/nuevo">Añadir Nuevo Cliente</a>
    <a href="/clientes/buscar">Buscar Cliente</a>
</body>
</html>
