<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Cliente</title>
</head>
<body>
    <h1>Nuevo Cliente</h1>
    <form th:action="@{/clientes}" th:object="${cliente}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />
        <br/>
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" th:field="*{apellidos}" />
        <br/>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" />
        <br/>
        <label for="numeroDocumento">Número de Documento:</label>
        <input type="text" id="numeroDocumento" th:field="*{numeroDocumento}" />
        <br/>
        <button type="submit">Guardar</button>
    </form>
    <a href="/clientes">Volver a la Lista</a>
</body>
</html>
